body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 3rem;
	color: #c7cdd3;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-xl{
	padding: 1rem 2rem;
}
.btn-primary{
		background-color: red;
		border-color: red;
		transition: all 1s;
}
.btn-primary:hover{
	background-color: orange;
	border-color: orange;
	transform: scale(1.1);
}
hr{
	border-color: red;
	width: 60px;
}
.buffer{
	height: 10rem;
}